/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 2rem 1rem;
  animation: showDown 0.8s ease forwards;
}

header h1 {
  font-size: 26px;
  color: #3b82f6;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

/* NAV MOBILE */
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 1rem;
  background-color: #0f2749;
  border-radius: 12px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px 0;
  transition: 0.3s;
}

nav a:hover {
  color: #a855f7;
}

nav a.active {
  color: #22c55e;
  font-weight: bold;
}

/* MAIN */
main {
  width: 90%;
  max-width: 1100px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: showup 0.8s ease forwards;
}

/* SECTIONS */
section {
  background-color: #0f173a;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

section h2 {
  color: #22c55e;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 0.6rem;
}

/* LISTAS */
.habilidade ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.habilidade h3 {
  color: #38bdf8;
  margin-bottom: 0.5rem;
}

.habilidade a {
  color: #38bdf8;
  text-decoration: none;
}

/* CONTROLE DE SEÇÕES */
.section {
  display: none;
}

.active-section {
  display: block;
  animation: showup 0.8s ease forwards
}
@keyframes showDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========================= */
/* DESKTOP (A PARTIR DE 768px) */
/* ========================= */

@media (min-width: 768px) {

  header h1 {
    font-size: 32px;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem 3rem;
  }

  .habilidade ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  }
