
  /*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
}

header {
  animation: showDown 1s ease forwards;
}

header h1 {
  font-size: 32px;
  text-align: center;
  color: #3b82f6;
  margin: 4rem;
  letter-spacing: 2px;
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  max-width: 1100px;
  margin: 2rem auto;
  animation: showup 1s ease forwards;
}

div #strong {
  text-align: center;
  color: #38bdf8;
  animation: shake 0.6s ease infinite;
}

section {
  background-color: #0f173a;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

section h2 {
  color: #22c55e;
  text-align: center;
  margin: 1rem;
}

 p {
  color: white;
  margin: 0.6rem;
}

nav {
  background-color: #0f172a;
  border-bottom: 1px solid #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  max-width: 1100px;
  margin: 0 auto;   /* centraliza */
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #0f2749;
  backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0, 250, 190, 0.5);
}

.section {
  display: none;
}

.active-section {
  display: block;
  animation: showup 1s ease forwards;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  gap: 10px;
  transition: 0.3s ease;
}

nav a:hover {
  color: #a855f7;
}

nav a.active {
  border-bottom: 2px solid #22c55e;
  color: #22c55e;
}

.habilidade {
  margin: 1.2rem;
}

.habilidade h3 {
  color: #22c55e;
  margin: 0.2rem;
}

.habilidade li{
  gap: 10px;
}

.habilidade p,
.habilidade a {
  color: #38bdf8;
  font-weight: 500;
}

@keyframes showDown {
    from {
     opacity: 0;
     transform: translateY(-40px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
   }
   
  @keyframes showup {
    from {
     opacity: 0;
     transform: translateY(40px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px,0px);
    }
    33% {
      transform: translate(-1px,1px);
    }
    66% {
      transform: translate(-0px,-1px);
    }
    100% {
      transform: translate(1px,0px);
    }
  }
  
  @media (min-width: 1024px) {

  .habilidade ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

}

/* RESPONSIVO */
@media (max-width: 768px) {

  header h1 {
    font-size: 24px;
    margin: 2rem 0;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    margin: 1rem;
    padding: 1rem;
  }

  main {
    margin: 1rem;
  }

  section {
    padding: 1rem;
  }

  p {
    font-size: 14px;
  }

  .habilidade ul {
    padding-left: 1rem;
  }

}